<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="https://external-preview.redd.it/ISKfJY3c4DP9HUZVhRjw--VwOi8Tz-OxrRgZCMqkpp8.jpg?width=640&crop=smart&auto=webp&s=0df73569def129c933e8c310bdac8713038e750d" 
            width="40" height="30" 
            is-clickable="false">
        </a>
        <a class="navbar-item" font-weight="bold" font-size="10">My anime list</a>
        
      <!-- navbar items, navbar burger... -->
    </div>
    <div class="navbar-end">
        <a class="navbar-item">Support</a>
    </div>
  </nav>
