<section class="hero is-fullheight">

    <h1>About the authors</h1>
    <style>
        h1 {text-align: center; color: black; font-size:300%; margin-top: 3%;}
    </style>
    <nav class="level">
        <div class="level-left">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                    <span>
                        <div>Name: Ana Oprea</div>
                    </span>
                    </div>
                    <div class="content">
                    <span>
                        <div>GitHub account:
                            <a href="https://github.com/anaoprea21" >https://github.com/anaoprea21</a>
                        </div>
                    </span>
                    </div>
                    <div class="content">
                    <span>
                        <div>E-mail:
                            <a href="https://login.yahoo.com/account/personalinfo?src=ym&.done=https%3A%2F%2Fmail.yahoo.com%2F&pspid=159600017&activity=ybar-acctinfo" >ana.oprea@yahoo.com</a>
                        </div>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="level-right">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                    <span>
                        <div>Name: Luca Lazar</div>
                    </span>
                    </div>
                    <div class="content">
                    <span>
                        <div>GitHub account:
                            <a href="https://github.com/anaoprea21" >https://github.com/anaoprea21</a>
                        </div>
                    </span>
                    </div>
                    <div class="content">
                    <span>
                        <div>E-mail:
                            <a href="https://login.yahoo.com/account/personalinfo?src=ym&.done=https%3A%2F%2Fmail.yahoo.com%2F&pspid=159600017&activity=ybar-acctinfo" >ana.oprea@yahoo.com</a>
                        </div>
                    </span>
                    </div>
                </div>
            </div>
        </div>

    </nav>

</section>