.hero{
    background-image:url
    ('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F10555380362586920%2F&psig=AOvVaw0v_wyxL9dLoFIHgT6GVmUt&ust=1648999778959000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKDG5oLZ9fYCFQAAAAAdAAAAABA6')!important;
    background-size:cover;
    background-position:center center;

}