<section class="hero is-fullheight">
  <div>
  <div class="container">
    <div class="field" style="color:white;">
      Name
    </div>
    <input type="text" placeholder="Introduce your username here" class="input">
  </div>
  <div class="container">
    <div class="field" style="color:white;">
      Password
    </div>
    <input type="text" placeholder="Introduce your password here" class="input">
  </div>
</div>
  <div class="columns is-centered">
    <div class="column is-half"style="text-align:center;">
        <button type="submit"  class="button is-large">LogIn</button>       
  </div>
  <label class="checkbox">
    <input type="checkbox" name="checkbox">
   Remeber me
  </label>  
</div>

</section>