<section class="hero is-fullheight">
    <section class="section">
        <style>
            h1 {text-align: center;}
        </style>
        <h1 class="title" style="color:darksalmon;">
            Manage account
        </h1>
        <div name="account" class="container">
          <div class="field" style="color:rgb(245, 11, 11);">
            Introuduce account name here
          </div>     
          <input type="text" placeholder="John Black" class="input"
          [(ngModel)]="accName" />
        </div>
        <div class="container">
          <div class="field" style="color:white;">
            Username
          </div>
          <input type="text" placeholder="master32" class="input" [(ngModel)]="username">
        </div>
        <div class="container">
            <div class="field" style="color:white;">
              E-mail
            </div>
            <input type="text" placeholder="something@something.com" class="input"
            [(ngModel)]="email">
          </div>
          <div class="container">
            <div class="field" style="color:white;">
              Password
            </div>
            <input type="password" placeholder="Terminator342" class="input"
            required  [(ngModel)]="password">
            <button class="button is-rounded is-danger 
            is-family-monospace is-black is-fullwidth" (click)="changeAccountInfo()">Update your account info </button>
          </div>
        <div class="columns is-centered">         
      </div>
    </section>
  </section>
